<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is root page</h1>
    <p>
      Tarty giant letter generator uses text symbols â–“â–’â–‘â–„â–ˆâ–€â–Œâ–â”€. â–ˆâ–€â–ˆ â–ˆâ–„â–ˆ â–€â–ˆâ–€ /
      â–ˆâ–¬â–ˆ â–ˆ â–€â–ˆâ–€ font (no, not â–Ÿâ–› â–ˆâ–¬â–ˆ â–ˆ â–œâ–› font) uses a different bunch of
      symbols to fonm letters. By the way, check out my collection of text
      drawings. â‰§^â—¡^â‰¦ When you'll find a copy of my big text generators around
      the internet - there's plenty of copies, please know that this is the
      actual original and we actually designed all of these big letters with my
      friends, including ASCII Text Art Generator and ğ—§ğ—²ğ˜…ğ˜ font copy paste.
      Proud and angry!
    </p>
    <button>Boom</button>
  </body>
</html>
